<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87633231445-f8ec50stck2a97hh2f5u7fosp66ejbt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87633231445-f8ec50stck2a97hh2f5u7fosp66ejbt8</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVvhmrxs3bZzg6sdB6gCYlBt-mmZ3u6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>87633231445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alfey.Waroeng-Pak-Muh</string>
	<key>PROJECT_ID</key>
	<string>waroeng-pak-muh-f73e6</string>
	<key>STORAGE_BUCKET</key>
	<string>waroeng-pak-muh-f73e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:87633231445:ios:8ed0aa56aa299aca7b9edc</string>
	<key>DATABASE_URL</key>
	<string>https://waroeng-pak-muh-f73e6-default-rtdb.firebaseio.com</string>
</dict>
</plist>
